.App-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(78, 52, 126);
}

/* overlay semi-transparent */
.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* conținutul rămâne deasupra overlay-ului */
.App-header > * {
  position: relative;
  z-index: 1;
}
